/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .left-img-container {
        min-height: 40vh;
    }

    .map-container {
        min-height: 120vh;
    }

    .map-container {
        background-size: 150%;
        background-position-x: -40px;
        background-position-y: -30px;
        min-height: 70vh;
    }

    .map-marker {
        width: 150%;
        top: -30px;
        left: -40px;
    }

    .portrait-container {
        height: 74px;
        width: 300px;
    }

    .portrait-container .img-circle img {
        width: 50%;
    }

    .ui.cards>.card>.image>img {
        width: 100px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .map-container {
        min-height: 110vh;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .map-container {
        background-position-y: 0px;
        min-height: 83vh;
    }

    .map-marker {
        top: 0px;
    }

    .portrait-container {
        height: 74px;
        width: 400px;
    }

    .portrait-container .img-circle img {
        width: 70%;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1799px) {
    .map-container {
        background-position-y: -50px;
        background-position-x: -10px;
        background-size: 115%;
    }

    .map-marker {
        top: -50px;
        left: -10px;
        width: 115%;
    }

    .portrait-container {
        height: 74px;
        width: 430px;
    }

    .portrait-container .img-circle img {
        width: 70%;
    }

    .ui.cards>.card>.image>img {
        width: 142px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1800px) {
    .display-4 {
        font-size: 7.5rem;
    }

    .card-container-carousel {
        padding-bottom: 65px;
    }

    .ui.cards>.card>.image>img {
        width: 270px;
    }
}
